*{
    margin: 0;
    padding: 0;
}
#calculator{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(99, 250, 241), rgb(62, 100, 233), rgb(0,0,100));
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
h1{
    width: 84vw;
    margin: 5vh auto;
    padding: 3vw;
    border-radius: 10px;
    background-color: white;
    font-size: 6vh;
    text-align: right;
    overflow: scroll;
}

#grid{
    width: 96vw;
    height: 72vh;
    margin-left: 4vw;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(5,auto);
    
}
button{
    width: 20vw;
    height: 20vw;
    border: none;
    outline: none;
    color:rgb(0,0,100);
    cursor: pointer;
    font-size: 4vh;
    font-weight: 550;
    border-radius: 4px;
    background-color: rgb(198, 237, 248);
}
button:hover,button:focus{
    transform: scale(.95);
    background-color: rgb(27, 5, 87);
    box-shadow: 1px 1px 20px rgb(176, 216, 236);
    color: white;
}

@media screen and (min-width:720px) and (orientation: portrait)
{
    h1{
       border-radius: 5px;
       font-size: 5vh;
       font-weight: 600;
    }
    button{
        height:10vh;
        border-radius: 10px;
        font-size: 5vh;

    }
}

@media screen and (min-width: 640px) and (orientation:landscape)
{
    h1{
        width: 76vw;
        margin: 2vh auto;
        padding: 2vw;
        border-radius: 3px;
        font-size: 7vh;
    }
    button{
        width: 15vw;
        height: 5vw;
        font-size: 6vh;
        border-radius: 2px;
    }  
    #grid{
        width: 86vw;
        margin-left: 10vw;
    } 
    button:hover,button:focus{
        transform: scale(1.1);
        background-color: rgba(27, 5, 86, 0.527);
 } 
}

@media screen and (min-width:1366px)
{
    h1{
        width: 58vw;
        margin: 1vh auto;
        padding: 1vw;
        border-radius: 10px;
        font-size: 7vh;
    }
   #grid{
        width: 66vw;
        margin-left: 20vw;
}
button{
    width: 10vw;
    height: 5vw;
    font-size: 6vh;
    border-radius: 8px;
} 
button:hover,button:focus{
    transform: scale(1.2);
    background-color: rgba(27, 5, 86, 0.527);
}  
}
